{% extends 'base.html.twig' %}

{% block title %}Hello ZasobyController!{% endblock %}

{% block body %}

<center>

{{ form_start(zasobyForm) }}
  <button type="submit" class="btn">Przyjmij artykuł</button>
{{ form_end(zasobyForm) }}</center>

{% endblock %}
